# Test 1 ->
Notes: Ground truth compared to itself.
[truth_fp=Rio/rio_test_aoi1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi1.geojson)

[test_fp=Rio_Submission_Testing/Rio_sample_challenge_submission1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Submission_Testing/Rio_sample_challenge_submission1.geojson)

Precision =  1.0

Recall =  1.0

# Test 2 ->

[truth_fp=Rio/rio_test_aoi2.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi2.geojson)

[test_fp=Rio_Submission_Testing/Rio_sample_challenge_submission2.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Submission_Testing/Rio_sample_challenge_submission2.geojson)

Precision =  0.2

Recall =  0.266666666667

# Test 3 ->

[truth_fp=Rio/rio_test_aoi3.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi3.geojson)

[test_fp=Rio_Submission_Testing/Rio_sample_challenge_submission3.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Submission_Testing/Rio_sample_challenge_submission3.geojson)

Precision =  1.0

Recall =  0.4

# Test 4 ->

[truth_fp=Rio/rio_test_aoi4.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi4.geojson)

[test_fp=Rio_Submission_Testing/Rio_sample_challenge_submission4.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Submission_Testing/Rio_sample_challenge_submission4.geojson)

Precision =  0.416666666667

Recall =  0.178571428571

# Test 5 ->

[truth_fp=Rio/rio_test_aoi5.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi5.geojson)

[test_fp=Rio_Submission_Testing/Rio_sample_challenge_submission5.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Submission_Testing/Rio_sample_challenge_submission5.geojson)

Precision =  1.0

Recall =  0.521739130435

# Test 6 ->

[truth_fp=Rio/rio_test_aoi1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi1.geojson)

[test_fp=Rio_Hand_Truth_AOI1/AOI1_Hand1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Hand_Truth_AOI1/AOI1_Hand1.geojson)

Precision =  0.424242424242

Recall =  0.48275862069

# Test 7 ->

[truth_fp=Rio/rio_test_aoi1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi1.geojson)

[test_fp=Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_10mbuffer.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_10mbuffer.geojson)

Precision =  0.0

Recall =  0.0

# Test 8 ->

[truth_fp=Rio/rio_test_aoi1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi1.geojson)

[test_fp=Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_2p5mbuffer.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_2p5mbuffer.geojson)

Precision =  0.0235294117647

Recall =  0.0689655172414

# Test 9 ->

[truth_fp=Rio/rio_test_aoi1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi1.geojson)

[test_fp=Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_5mbuffer.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_5mbuffer.geojson)

Precision =  0.0

Recall =  0.0

# Test 10 ->

[truth_fp=Rio/rio_test_aoi1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi1.geojson)

[test_fp=Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_7p5mbuffer.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_7p5mbuffer.geojson)

Precision =  0.0

Recall =  0.0

# Test 11 ->

[truth_fp=Rio/rio_test_aoi1.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio/rio_test_aoi1.geojson)

[test_fp=Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_Neg2p5mbuffer.geojson](https://github.com/toddstavish/BEE-CSharp/blob/master/data/Rio_Hand_Truth_AOI1/Rio_test_aoi1_WGS84_Neg2p5mbuffer.geojson)

Precision =  0.0

Recall =  0.0
